{% extends "base.html" %}

{% block content %}
  {% set global page %}
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="title-sidebar">
        <a href="/">Principal</a>
      </li>
      <li {% if page == "home" %}class="active"{% end %}>
        <a href="{{ reverse_url('home') }}">Accueil</a>
      </li>
      <li {% if page == "my_runs" %}class="active"{% end %}>
        <a href="{{ reverse_url('my_runs') }}">Mes sorties</a>
      </li>
      <li {% if page == "new_run" %}class="active"{% end %}>
        <a href="{{ reverse_url('new_run') }}"><span class="glyphicon glyphicon-plus"></span> Nouvelle sortie</a>
      </li>
      {% block subnav %}{% end %}
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{% block title_h1 %}{% end %}</h1>
    {% block subcontent %}{% end %}
  </div>
{% end %}
