<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% block title %}{{ title }}{% end %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <link rel="stylesheet" href="/static/css/maps.css">
  <link rel="stylesheet" href="/static/css/SortedTable.css">
  <link rel="stylesheet" href="/static/jquery-ui-1.11.1/jquery-ui.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% block extra_js %}{% end %}
  <script src="/static/js/SortedTable.js"></script>
  <script src="/static/jquery-ui-1.11.1/jquery-ui.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      {% block content %}
        <h1 class="page-header">{% block title_h1 %}{% end %}</h1>
        {% block subcontent %}{% end %}
      {% end %}
    </div>
  </div>
  <script type="text/javascript">
    $("[data-rawdata-type]").each(function() {
      var value = $(this).html();
      var content = $(this).attr('data-rawdata-type');
      var formatted = formatSortedTableData(value,
          $.inArray(content, known_content_format) != -1 ? content : "thousands");
      var before = $(this).attr('data-rawdata-before');
      if (before == undefined) before = "";
      var after = $(this).attr('data-rawdata-after');
      if (after == undefined) after = "";
      $(this).html(before + formatted + after);
      if ($(this).attr('data-rawdata-notooltip') == undefined)
        addTooltipIfPossible($(this), value, content);
    });
  </script>
</body>
</html>
