{% extends "base_leftcolumn.html" %}

{% block title %}Accueil{% end %}
{% block title_h1 %}Accueil{% end %}

{% block subcontent %}
{% set hs_id=0 %}
{% set run_id=1 %}
{% set is_distance=2 %}
{% set value=3 %}
{% set score=4 %}
  <div class="row">
    <div class="col-md-4 performances">
      <img alt="calendar" src="/static/images/calendar.png" />
    </div>
    <div class="col-md-8">
      <table class="table table-striped table-blue">
        <tbody>
          <tr>
            <td>Aujourd'hui</td>
            {% if recent["today"][0] is None %}
              <td colspan="3">Aucunes donn&eacute;es pour le moment</td>
            {% else %}
              <td data-rawdata-type="distance">{{ recent["today"][0] }}</td>
              <td data-rawdata-type="time">{{ recent["today"][1] }}</td>
              <td data-rawdata-type="calories" data-rawdata-after=" kcal">{{ recent["today"][2] }}</td>
            {% end %}
          </tr><tr>
            <td>Cette semaine</td>
            {% if recent["week"][0] is None %}
              <td colspan="3">Aucunes donn&eacute;es pour le moment</td>
            {% else %}
              <td data-rawdata-type="distance">{{ recent["week"][0] }}</td>
              <td data-rawdata-type="time">{{ recent["week"][1] }}</td>
              <td data-rawdata-type="calories" data-rawdata-after=" kcal">{{ recent["week"][2] }}</td>
            {% end %}
          </tr><tr>
            <td>Ce mois</td>
            {% if recent["month"][0] is None %}
              <td colspan="3">Aucunes donn&eacute;es pour le moment</td>
            {% else %}
              <td data-rawdata-type="distance">{{ recent["month"][0] }}</td>
              <td data-rawdata-type="time">{{ recent["month"][1] }}</td>
              <td data-rawdata-type="calories" data-rawdata-after=" kcal">{{ recent["month"][2] }}</td>
            {% end %}
          </tr><tr>
            <td>Cette ann&eacute;e</td>
            {% if recent["year"][0] is None %}
              <td colspan="3">Aucunes donn&eacute;es pour le moment</td>
            {% else %}
              <td data-rawdata-type="distance">{{ recent["year"][0] }}</td>
              <td data-rawdata-type="time">{{ recent["year"][1] }}</td>
              <td data-rawdata-type="calories" data-rawdata-after=" kcal">{{ recent["year"][2] }}</td>
            {% end %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-8">
      <table class="table table-striped table-yellow">
        <tbody>
          {% for hs in high_scores %}
            {% if hs[score] is not None and hs[score] > 0 %}
              {% set hs_id_=hs[hs_id] %}
              <tr>
                <td>{% if hs_id_ == 1 %}Cooper (12min)
                    {% elif hs_id_ == 2 %}Course d'une heure
                    {% elif hs_id_ == 6 %}Semi-marathon
                    {% elif hs_id_ == 7 %}Marathon
                    {% elif hs[is_distance] %}{{ hs[value]/1000 }} km
                    {% else %}{{ hs[value]/60 }} minutes{% end %}</td>
                <td data-rawdata-type="{% if hs[is_distance] %}time{% else %}distance{% end %}" {% if not hs[is_distance] %}data-rawdata-notooltip{% end %}>{{ hs[score] }}</td>
                <td><a href="{{ reverse_url('run_details', hs[run_id]) }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
              </tr>
            {% end %}
          {% end %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4 performances">
      <img alt="sportcup" src="/static/images/sportcup.png" />
    </div>
  </div>
  <script>
  </script>
{% end %}
