{% extends "base_leftcolumn.html" %}

{% block title %}Mes sorties{% end %}
{% block title_h1 %}Mes sorties{% end %}

{% block subcontent %}
{% set my_runs=globals().get('my_runs', []) %}
  <table class="table table-striped" id="my_runs_table">
    <thead>
      <tr>
        <td>#</td>
        <td>Date</td>
        <td>Distance</td>
        <td>Durée</td>
        <td>Vitesse moy.</td>
        <td>Calories</td> 
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="6">Veuillez activer Javascript afin de pouvoir consulter ces donn&eacute;es</td></tr>
    </tbody>
  </table>
  
  <script type="text/javascript">
    var my_runs_table_type = [
        {type: 'date', content: "datetime"},
        {type: 'int', content: "distance"},
        {type: 'int', content: "time"},
        {type: 'int', content: 'speed'},
        {type: 'int', unit: 'kcal'},
        {type: 'text', content: 'url',}
    ];
    var my_runs_table_data = [
      {% for run in my_runs %}
        [
          {{ run["date"] }}, {{ run["distance"] }},
          {{ run["time"] }}, {{ run["speed"] }},
          {{ run["calories"] }}, "{{ reverse_url('run_details', run['id']) }}",
        ],
      {% end %}
    ];
    
    var my_runs_table = new SortedTable($("#my_runs_table")[0],
        my_runs_table_type, my_runs_table_data);
    my_runs_table.init();
  </script>
{% end %}
