{% extends "base_leftcolumn.html" %}

{% block title %}Nouvelle sortie{% end %}
{% block title_h1 %}Nouvelle sortie{% end %}

{% block subcontent %}
{% set success=globals().get('success', False) %}
{% set errors=globals().get('errors', {}) %}
  {% if success %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Succès!</strong> Le fichier a été téléchargé avec succès. Il est d'ores et déjà visible sur l'onglet <a href="{{ reverse_url('my_runs') }}">Mes sorties</a>.
    </div>
  {% end %}
  {% if len(errors) > 0 %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Erreur!</strong>
      <ul>
        {% for key in errors %}<li>{{ errors[key] }}</li>{% end %}
      </ul>
    </div>
  {% end %}
  <form class="form-horizontal" role="form"
      enctype="multipart/form-data" action="{{ reverse_url('new_run') }}" method="post">
    <div class="form-group {% if "runfile" in errors %}has-error has-feedback{% end %}">
      <label for="runfile" class="col-sm-2 control-label">Fichier (*.tcx)</label>
      <div class="col-sm-10">
        <input type="file" id="runfile" name="runfile"  class="form-control" placeholder="Sortie au format tcx" />
        {% if "runfile" in errors %}<p class="text-danger">{{ errors["runfile"] }}</p>{% end %}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Envoyer</button>
      </div>
    </div>
  </form>
{% end %}
