{% extends "base_run.html" %}

{% block title %}Tron&ccedil;ons de la sortie{% end %}
{% block title_h1 %}Tron&ccedil;ons de la sortie{% end %}

{% block subcontent %}
{% set latitude=corresponding_ids['latitude'] %}
{% set longitude=corresponding_ids['longitude'] %}
{% set altitude=corresponding_ids['altitude'] %}
{% set time=corresponding_ids['time'] %}
{% set datetime=corresponding_ids['datetime'] %}
{% set distance=corresponding_ids['distance'] %}
  <ul class="pager">
    {% if previous_run %}
      <li class="previous"><a href="{{ reverse_url('run_sections', previous_run[0]) }}" data-rawdata-type="date" data-rawdata-before="&larr; ">{{ previous_run[1] }}</a></li>
    {% else %}
      <li class="previous disabled"><a href="#">&larr;</a></li>
    {% end %}
    {% if next_run %}
      <li class="next"><a href="{{ reverse_url('run_sections', next_run[0]) }}" data-rawdata-type="date" data-rawdata-after=" &rarr;">{{ next_run[1] }}</a></li>
    {% else %}
      <li class="next disabled"><a href="#">&rarr;</a></li>
    {% end %}
  </ul>
  <div class="row">
    <div class="col-md-8">
      <div id="map" style="width:500px;height:380px;"></div>
    </div>
    <div class="col-md-4">
      <p>
        <label for="value_section_from_to">Départ et fin du tronçon :</label>
        <input type="text" id="value_section_from_to" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider_section_from_to"></div>
      <div id="slider_ajust_from" class="slider-without-color" style="margin-top: 10px;"></div>
      <div id="slider_ajust_to" class="slider-without-color" style="margin-top: 10px;"></div>
    </div>
  </div>
  
  <script type="text/javascript">
    var path = [
      {% for pt in run_path %}
        {
          lat: {{ pt[latitude] }}, long: {{ pt[longitude] }},
          alt: {{ pt[altitude] }}, time: {{ pt[time] }},
          date: {{ pt[datetime] }}, dist: {{ pt[distance]}},
        },
      {% end %}
    ];
    
    var map = new google.maps.Map(document.getElementById("map"), mapProp);
    var lastPolyline = null;
    var marker_begin = null, marker_end = null;
    
    function updateMap(map, from, to) {
      // Remove the line and the markers
      if (lastPolyline)
        lastPolyline.setMap(null);
      if (marker_begin)
        marker_begin.setMap(null);
      if (marker_end)
        marker_end.setMap(null);
      
      if (from >= to)
        return;
      
      // Get the new one
      var map_pts = buildPath(path, from, to);
      lastPolyline = new google.maps.Polyline({
          path: map_pts,
          strokeColor: "#0000FF",
          strokeOpacity: 0.5,
          strokeWeight: 2
      });
      lastPolyline.setMap(map);
      
      marker_begin = createMarker(map_pts[0], null);
      marker_begin.setMap(map);
      addInfoToMarker(map, marker_begin, "Départ du tronçon");
      
      marker_end = createMarker(map_pts[to-from], null);
      marker_end.setMap(map);
      addInfoToMarker(map, marker_end, "Fin du tronçon");
    }
    
    function initialize() {
      updateMap(map, 0, path.length -1);
      adaptMap(map, path);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    
    function updateSliderRange() {
      var from = $("#slider_section_from_to").slider("values", 0)
          + $("#slider_ajust_from").slider("value");
      var to = $("#slider_section_from_to").slider("values", 1)
          + $("#slider_ajust_to").slider("value");
      if (from < 0) from = 0;
      if (to >= path.length) to = path.length -1;
      $("#value_section_from_to").val(from + " - " + to + " : "
          + formatSortedTableData(path[to]["dist"]-path[from]["dist"], "distance"));
      updateMap(map, from, to);
    }
    
    $(function() {
      $("#slider_section_from_to").slider({
        range: true,
        min: 0,
        max: path.length -1,
        step: 10,
        values: [0, path.length -1],
        slide: updateSliderRange,
      });
      $("#slider_ajust_from, #slider_ajust_to").slider({
        orientation: "horizontal",
        range: "min",
        min: -50,
        max: 50,
        value: 0,
        slide: updateSliderRange,
        change: updateSliderRange,
      });
      updateSliderRange();
    });
  </script>
{% end %}
