{% extends "base_run.html" %}

{% block title %}D&eacute;tails de la sortie{% end %}
{% block title_h1 %}D&eacute;tails de la sortie{% end %}

{% block subcontent %}
{% set latitude=corresponding_ids['latitude'] %}
{% set longitude=corresponding_ids['longitude'] %}
{% set altitude=corresponding_ids['altitude'] %}
{% set time=corresponding_ids['time'] %}
{% set datetime=corresponding_ids['datetime'] %}
{% set distance=corresponding_ids['distance'] %}
  <ul class="pager">
    {% if previous_run %}
      <li class="previous"><a href="{{ reverse_url('run_details', previous_run[0]) }}" data-rawdata-type="date" data-rawdata-before="&larr; ">{{ previous_run[1] }}</a></li>
    {% else %}
      <li class="previous disabled"><a href="#">&larr;</a></li>
    {% end %}
    {% if next_run %}
      <li class="next"><a href="{{ reverse_url('run_details', next_run[0]) }}" data-rawdata-type="date" data-rawdata-after=" &rarr;">{{ next_run[1] }}</a></li>
    {% else %}
      <li class="next disabled"><a href="#">&rarr;</a></li>
    {% end %}
  </ul>
  <div class="row">
    <div class="col-md-8">
      <div id="map" style="width:100%;height:380px;"></div>
    </div>
    <div class="col-md-4">
      <div>
        <label for="amount_markers_num_km">Marqueurs kilom&eacute;triques (pas 0,5km) :</label>
        <input type="text" id="amount_markers_num_km" readonly style="border:0; color:#f6931f; font-weight:bold;" />
      </div>
      <div id="slider_markers_num_km"></div>
      <dl class="dl-horizontal" style="margin-top: 20px;">
        <dt>D&eacute;part</dt>
        <dd data-rawdata-type="datetime">{{ details['start'] }}</dd>
        <dt>Temps</dt>
        <dd data-rawdata-type="time">{{ details['time'] }}</dd>
        <dt>Distance</dt>
        <dd data-rawdata-type="distance">{{ details['distance'] }}</dd>
        <dt>Calories br&ucirc;l&eacute;es</dt>
        <dd data-rawdata-type="calories" data-rawdata-after=" kcal">{{ details['calories'] }}</dd>
        <dt>Vitesse moyenne</dt>
        <dd data-rawdata-type="speed">{{ details['speed'] }}</dd>
      </dl>
      <script type="text/javascript">
        var path = [
          {% for pt in run_path %}
            {
              lat: {{ pt[latitude] }}, long: {{ pt[longitude] }},
              alt: {{ pt[altitude] }}, time: {{ pt[time] }},
              date: {{ pt[datetime] }}, dist: {{ pt[distance] }},
            },
          {% end %}
        ];
        
        var msg_from_race = "Départ le " + formatSortedTableData(path[0]['date'], 'datetime');
        var msg_to_race = "Arrivée le " + formatSortedTableData(path[path.length -1]['date'], 'datetime');
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
        
        function initialize() {
          updateMap(map, path, 0, msg_from_race, path.length -1, msg_to_race);
          adaptMap(map, path);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        
        var current_markers_num_km = [];
        $(function() {
          $("#slider_markers_num_km").slider({
            value: 0,
            min: 0,
            max: 100,
            step: 5,
            slide: function(event, ui) {
              if (current_markers_num_km == null) {
                updateMap(map, path, 0, msg_from_race, path.length -1, msg_to_race);
                current_markers_num_km = [];
              }
              for (var i=0 ; i!=current_markers_num_km.length ; i++) {
                current_markers_num_km[i].setMap(null);
              }
              current_markers_num_km = [];
              
              if (ui.value == 0)
                $("#amount_markers_num_km").val("Aucun");
              else {
                var formatted_txt = Math.floor(ui.value/10) + ","
                    + (ui.value%10) + "km";
                var markers_info = [];
                
                $("#amount_markers_num_km").val(formatted_txt);
                
                var step = 1000.*ui.value/10;
                var next_marker = step;
                for (var i=0 ; i!=path.length ; i++) {
                  if (path[i]['dist'] < next_marker) continue;
                  
                  var latlong = null;
                  var time = 0;
                  if (i == 0 || path[i]['dist'] == next_marker) {
                    latlong = new google.maps.LatLng(path[i]['lat'], path[i]['long']);
                    time = path[i]['time'];
                  } else {
                    // x defined as: x * dist1 + (1-x) * dist2 = dist_required
                    var x = (next_marker - path[i]['dist'])/(path[i-1]['dist'] - path[i]['dist']);
                    latlong = new google.maps.LatLng(
                        x * path[i-1]['lat'] + (1-x) * path[i]['lat'],
                        x * path[i-1]['long'] + (1-x) * path[i]['long']);
                    time = x * path[i-1]['time'] + (1-x) * path[i]['time'];
                  }
                  
                  formatted_txt = Math.floor(next_marker/1000) + ","
                      + Math.floor(next_marker/100)%10 + "km";
                  current_markers_num_km.push(createMarker(latlong, pinImage));
                  markers_info.push(formatted_txt + " en " + formatSortedTableData(time, 'time'));
                  next_marker += step;
                }
              }
              
              for (var i=0 ; i!=current_markers_num_km.length ; i++) {
                current_markers_num_km[i].setMap(map);
                addInfoToMarker(map, current_markers_num_km[i], markers_info[i]);
              }
            }
          });
          $("#amount_markers_num_km").val("Aucun");
        });
        
        function eraseMarkersAndUpdateMap(map, path, from, mas_from, to, msg_to, color) {
          updateMap(map, path, from, mas_from, to, msg_to, color);
          for (var i=0 ; i!=current_markers_num_km.length ; i++) {
            current_markers_num_km[i].setMap(null);
          }
          current_markers_num_km = null;
        }
      </script>
      <table class="table table-striped">
        <tbody>
          {% for hs in high_scores %}
            {% set hs_id = hs["id"] %}
            <tr>
              <td>{% if hs_id == 1 %}Cooper (12min)
                  {% elif hs_id == 2 %}Course d'une heure
                  {% elif hs_id == 6 %}Semi-marathon
                  {% elif hs_id == 7 %}Marathon
                  {% elif hs["is_distance"] %}{{ hs["value"]/1000 }} km
                  {% else %}{{ hs["value"]/60 }} minutes{% end %}</td>
              <td data-rawdata-type="{% if hs["is_distance"] %}time{% else %}distance{% end %}" {% if not hs["is_distance"] %}data-rawdata-notooltip{% end %}>{{ hs["score"] }}</td>
              <td><a href="javascript:void(0)" onclick="eraseMarkersAndUpdateMap(map,path,{{ hs["from"] }},null,{{ hs["to"] }},null,'#ff0000')"><span class="glyphicon glyphicon-eye-open"></span></a></td>
            </tr>
          {% end %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <canvas id="perfchart" width="500" height="75" style="margin-top: 10px;"></canvas>
    <script type="text/javascript">
      function PerfChart(html_elt, path) {
        // Corresponding html element (canvas)
        this.html_elt = html_elt;
        this.jquery_elt = $(html_elt);
        // Path with keys: lat, long, time, dist (for each item)
        this.path = path;
        // Size of the step in meters
        this.step_size = 1000;
        
        this.updateChart = function() {
          // Update chart width based of the parent size
          this.html_elt.width = this.jquery_elt.parent().innerWidth();
          
          // Retrieve height and width
          var width = this.html_elt.width;
          var height = this.html_elt.height;
          
          // Values to keep in memory
          var min_time = 1e99;
          var max_time = -1;
          
          // Compute data for each bar
          var to_meter = this.step_size;
          var bar_start_time = this.path[0]['time'];
          var bars = [];
          for (var i=1 ; i<this.path.length ; i++) {
            // i must be >0: if path is correct for i=0, distance=0
            if (this.path[i]['dist'] > to_meter) {
              // the section from to_meter to this.path[i]['dist'] is done during this section
              // the beginning of next section is between
              //   this.path[i-1]['time'] and this.path[i]['time']
              var last_chunk_dist = this.path[i]['dist'] - this.path[i-1]['dist'];
              var extra_dist = this.path[i]['dist'] - to_meter;
              var last_chunk_time = this.path[i]['time'] - this.path[i-1]['time'];
              var extra_time = last_chunk_time * extra_dist / last_chunk_dist;
              
              var time_last_meters = this.path[i]['time'] - bar_start_time - extra_time;
              min_time = Math.min(min_time, time_last_meters);
              max_time = Math.max(max_time, time_last_meters);
              bars.push({time: time_last_meters}); // TODO: from, to
              bar_start_time = this.path[i]['time'] - extra_time;
              to_meter += this.step_size;
            }
          }
          // Add last meters
          var time_last_meters = this.path[this.path.length -1]['time'] - bar_start_time;
          min_time = Math.min(min_time, time_last_meters);
          max_time = Math.max(max_time, time_last_meters);
          bars.push({time: time_last_meters});
          
          // Draw the chart
          var MARGIN_BETWEEN_BARS = 5;
          var BAR_WIDTH = 20;
          var context = this.html_elt.getContext('2d');
          for (var i=0 ; i!=bars.length ; i++) {
            var barHeight = height * bars[i]['time']/max_time;
            if (min_time == max_time) {
              context.fillStyle = 'yellow';
            } else {
              var ratio = (bars[i]['time']-min_time)/(max_time-min_time);
              if (ratio < 0.5) {
                context.fillStyle = 'rgb(' + parseInt(510*ratio) + ',255,0)';
              } else {
                context.fillStyle = 'rgb(255,' + parseInt(255-510*(ratio-0.5)) + ',0)';
              }
            }
            context.fillRect(
                i*(BAR_WIDTH+MARGIN_BETWEEN_BARS),
                height - barHeight,
                BAR_WIDTH, barHeight);
          }
        };
      }
      var perfChart = new PerfChart($('#perfchart')[0], path);
      perfChart.updateChart();
    </script>
  </div>
{% end %}
