{% extends "base_run.html" %}

{% block title %}Tron&ccedil;ons de la sortie{% end %}
{% block title_h1 %}Tron&ccedil;ons de la sortie{% end %}

{% block subcontent %}
{% set latitude=corresponding_ids['latitude'] %}
{% set longitude=corresponding_ids['longitude'] %}
{% set altitude=corresponding_ids['altitude'] %}
{% set time=corresponding_ids['time'] %}
{% set datetime=corresponding_ids['datetime'] %}
{% set distance=corresponding_ids['distance'] %}
  <ul class="pager">
    {% if previous_run %}
      <li class="previous"><a href="{{ reverse_url('run_sections', previous_run[0]) }}" data-rawdata-type="date" data-rawdata-before="&larr; ">{{ previous_run[1] }}</a></li>
    {% else %}
      <li class="previous disabled"><a href="#">&larr;</a></li>
    {% end %}
    {% if next_run %}
      <li class="next"><a href="{{ reverse_url('run_sections', next_run[0]) }}" data-rawdata-type="date" data-rawdata-after=" &rarr;">{{ next_run[1] }}</a></li>
    {% else %}
      <li class="next disabled"><a href="#">&rarr;</a></li>
    {% end %}
  </ul>
  <div class="row">
    <div class="col-md-8">
      <div id="map" style="width:100%;height:380px;"></div>
    </div>
    <div class="col-md-4">
      <p>
        <label for="value_section_from_to">D&eacute;part et fin du tron&ccedil;on :</label>
        <input type="text" id="value_section_from_to" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider_section_from_to"></div>
      <div id="slider_ajust_from" class="slider-without-color" style="margin-top: 10px;"></div>
      <div id="slider_ajust_to" class="slider-without-color" style="margin-top: 10px;"></div>
      <form role="form" action="{{ reverse_url('new_section', run_id) }}" method="post" style="margin-top: 20px;">
        <input type="text" id="section_from" name="section_from" style="display:none; visibility:hidden;" />
        <input type="text" id="section_to" name="section_to" style="display:none; visibility:hidden;" />
        <div class="form-group">
          <label for="existing_section_id">Nom du tron&ccedil;on :</label>
          <select name="existing_section_id" class="form-control">
            {% for section in all_sections_available %}
              <option value="{{ section[0] }}">{{ section[1] }}</option>
            {% end %}
            <option value="-1" selected>Cr&eacute;er un nouveau tron&ccedil;on</option>
          </select>
          <input type="text" name="new_section_name" class="form-control" placeholder="Uniquement si cr&eacute;ation" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
  
  <script type="text/javascript">
    var path = [
      {% for pt in run_path %}
        {
          lat: {{ pt[latitude] }}, long: {{ pt[longitude] }},
          alt: {{ pt[altitude] }}, time: {{ pt[time] }},
          date: {{ pt[datetime] }}, dist: {{ pt[distance]}},
        },
      {% end %}
    ];
    
    var map = new google.maps.Map(document.getElementById("map"), mapProp);
    var msg_from = "Début du tronçon";
    var msg_to = "Fin du tronçon";
    
    function initialize() {
      updateMap(map, path, 0, msg_from, path.length -1, msg_to);
      adaptMap(map, path);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    
    function updateSliderRange() {
      var from = $("#slider_section_from_to").slider("values", 0)
          + $("#slider_ajust_from").slider("value");
      var to = $("#slider_section_from_to").slider("values", 1)
          + $("#slider_ajust_to").slider("value");
      if (from < 0) from = 0;
      if (to >= path.length) to = path.length -1;
      $("#value_section_from_to").val(from + " - " + to + " : "
          + formatSortedTableData(path[to]["dist"]-path[from]["dist"], "distance"));
      $("#section_from").val(from);
      $("#section_to").val(to);
      updateMap(map, path, from, msg_from, to, msg_to);
    }
    
    $(function() {
      $("#slider_section_from_to").slider({
        range: true,
        min: 0,
        max: path.length -1,
        step: 10,
        values: [0, path.length -1],
        slide: updateSliderRange,
      });
      $("#slider_ajust_from, #slider_ajust_to").slider({
        orientation: "horizontal",
        range: "min",
        min: -50,
        max: 50,
        value: 0,
        slide: updateSliderRange,
        change: updateSliderRange,
      });
      updateSliderRange();
    });
  </script>
  
  <div class="row">
    <table class="table table-striped" id="run_sections_table">
      <thead>
        <tr>
          <td>#</td>
          <td>Nom</td>
          <td>D&eacute;part au km</td>
          <td>Distance</td>
          <td>Dur&eacute;e</td>
          <td>Vitesse moy.</td>
        </tr>
      </thead>
      <tbody>
        <tr><td colspan="6">
          {% if len(run_sections) > 0 %}Veuillez activer Javascript afin de pouvoir consulter ces donn&eacute;es
          {% else %}Aucun tro&ccedil;on n'a &eacute;t&eacute; rep&eacute;r&eacute; sur ce trac&eacute;{% end %}
        </td></tr>
      </tbody>
    </table>
    
    {% if len(run_sections) > 0 %}
      <script type="text/javascript">
        var run_sections_table_type = [
            {type: 'text'},
            {type: 'int', content: "distance"},
            {type: 'int', content: "distance"},
            {type: 'int', content: "time"},
            {type: 'int', content: 'speed'},
            {type: 'text', content: 'html',},
        ];
        var run_sections_table_data = [
          {% for section in run_sections %}
            [
              {% set delta_distance=run_path[section[2]][distance] - run_path[section[1]][distance] %}
              {% set delta_time=run_path[section[2]][time] - run_path[section[1]][time] %}
              
              "{{ section[0] }}",
              {{ run_path[section[1]][distance] }},
              {{ delta_distance }},
              {{ delta_time }},
              {% if delta_time != 0 %}{{ delta_distance/delta_time }}{% else %}0{% end %},
              '<a href="javascript:void(0)" onclick="updateMap(map,path,{{ section[1] }},null,{{section[2]}},null,\'#ff0000\')"><span class="glyphicon glyphicon-eye-open"></span></a>'
            ],
          {% end %}
        ];
        
        var run_sections_table = new SortedTable($("#run_sections_table")[0],
            run_sections_table_type, run_sections_table_data);
        run_sections_table.init();
      {% end %}
    </script>
  </div>
{% end %}
